services:
  mongo:
    image: mongo:7
    container_name: wdm-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: wdm-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    ports:
      - "3000:3000"

volumes:
  mongo-data: